<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a
        class="navbar-item"
        href="https://kaskada-ai.github.io/"
        title="Kaskada AI"
      >
        <svg
          width="137"
          height="38"
          viewBox="0 0 137 38"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_288_191)">
            <path
              d="M60.6005 12.2711C60.5761 12.2047 60.5306 12.1482 60.4709 12.1102C60.4113 12.0722 60.3409 12.0549 60.2705 12.0609H60.083C60.0142 12.0588 59.9465 12.0779 59.8888 12.1155C59.8312 12.153 59.7864 12.2074 59.7605 12.2711L53.8354 25.2482C53.8077 25.3021 53.7947 25.3622 53.7975 25.4227C53.8004 25.4832 53.8191 25.5419 53.8518 25.5929C53.8845 25.6438 53.9299 25.6853 53.9837 25.7131C54.0374 25.7409 54.0975 25.7541 54.1579 25.7514H55.8079C55.9297 25.7532 56.049 25.7164 56.1487 25.6463C56.2484 25.5762 56.3234 25.4762 56.3629 25.3609L60.0755 16.9348C60.0801 16.927 60.0867 16.9206 60.0946 16.9161C60.1025 16.9116 60.1114 16.9093 60.1205 16.9093C60.1295 16.9093 60.1384 16.9116 60.1463 16.9161C60.1542 16.9206 60.1608 16.927 60.1655 16.9348L62.0255 21.0652C62.0295 21.0736 62.0313 21.083 62.0305 21.0923C62.0298 21.1016 62.0265 21.1105 62.0212 21.1181C62.0158 21.1258 62.0086 21.1319 62.0001 21.1358C61.9916 21.1397 61.9823 21.1412 61.973 21.1403H59.0779C59.0661 21.1421 59.0546 21.1463 59.0444 21.1526C59.0342 21.1589 59.0253 21.1672 59.0183 21.177C59.0113 21.1868 59.0063 21.1979 59.0037 21.2097C59.0011 21.2214 59.0008 21.2336 59.0029 21.2454L59.393 23.213C59.3939 23.2229 59.3968 23.2325 59.4014 23.2413C59.4061 23.25 59.4125 23.2578 59.4201 23.2641C59.4278 23.2703 59.4366 23.275 59.4461 23.2779C59.4556 23.2807 59.4656 23.2817 59.4755 23.2806H62.978C62.9884 23.2817 62.9984 23.2849 63.0074 23.2901C63.0165 23.2953 63.0243 23.3023 63.0305 23.3107L63.9455 25.3609C64.0805 25.6312 64.2155 25.7514 64.5005 25.7514H66.1506C66.211 25.7541 66.2711 25.7409 66.3248 25.7131C66.3785 25.6853 66.424 25.6438 66.4566 25.5929C66.4893 25.5419 66.508 25.4832 66.5109 25.4227C66.5138 25.3622 66.5007 25.3021 66.4731 25.2482L60.6005 12.2711ZM73.4257 17.7684C71.8806 17.13 71.1756 16.5142 71.1756 15.6055C71.1756 14.9897 71.7756 14.2537 72.8557 14.2537C73.9357 14.2537 75.3532 15.23 75.5032 15.3201C75.6532 15.4103 76.0132 15.3201 76.1782 15.0948L76.8982 13.9909C77.0332 13.8031 76.9732 13.4727 76.7857 13.3601C76.4107 13.0597 74.9107 12.0684 72.9757 12.0684C69.9456 12.0684 68.7006 14.051 68.7006 15.7707C68.7006 18.0462 70.4856 19.2028 72.2781 19.9312C73.8832 20.5921 74.7007 21.2605 74.7007 22.2443C74.7007 23.0703 73.9507 23.7312 72.9757 23.7312C71.7381 23.7312 70.2006 22.6047 70.0956 22.5296C70.0459 22.4916 69.9886 22.4647 69.9277 22.4508C69.8667 22.4369 69.8034 22.4364 69.7422 22.4492C69.681 22.4621 69.6232 22.488 69.5729 22.5252C69.5226 22.5624 69.4809 22.61 69.4506 22.6648L68.7606 23.8664C68.5956 24.1668 68.6856 24.2719 68.8581 24.4447C69.2331 24.8201 70.6581 25.9466 73.0582 25.9466C75.7432 25.9466 77.4382 24.1142 77.4382 22.1316C77.4232 19.6383 75.2857 18.5194 73.4407 17.7684H73.4257ZM115.404 12.2486H110.889C110.795 12.2544 110.706 12.297 110.643 12.3673C110.58 12.4375 110.547 12.5297 110.551 12.6241V25.3834C110.547 25.4778 110.58 25.57 110.643 25.6402C110.706 25.7105 110.795 25.7531 110.889 25.7589H115.404C119.079 25.7589 122.094 22.7324 122.094 18.985C122.094 15.2375 119.101 12.2411 115.426 12.2411L115.404 12.2486ZM115.179 23.3933H113.004V14.5842H115.179C117.654 14.5842 119.454 16.4767 119.454 18.9775C119.454 21.4782 117.676 23.3933 115.201 23.3933H115.179ZM46.7628 18.6245L51.7278 12.9545C51.9753 12.6616 51.7878 12.2561 51.4278 12.2561H49.4778C49.4067 12.2578 49.3369 12.2764 49.2743 12.3104C49.2118 12.3443 49.1581 12.3926 49.1178 12.4514L43.9502 18.3241C43.8773 18.4063 43.8357 18.5118 43.833 18.6217C43.8302 18.7317 43.8664 18.8391 43.9352 18.9249L49.2903 25.6087C49.3329 25.6551 49.3853 25.6913 49.4437 25.7147C49.5021 25.7381 49.565 25.7481 49.6278 25.7439H51.7503C51.8285 25.7432 51.905 25.7211 51.9714 25.68C52.0379 25.6389 52.0919 25.5803 52.1274 25.5106C52.163 25.441 52.1788 25.3629 52.1732 25.2848C52.1675 25.2068 52.1406 25.1318 52.0953 25.068L46.7628 18.6245ZM42.3002 12.2411H40.6202C40.5598 12.2411 40.5 12.2532 40.4444 12.2768C40.3888 12.3003 40.3385 12.3349 40.2966 12.3783C40.2546 12.4218 40.2217 12.4732 40.2 12.5297C40.1783 12.5861 40.1682 12.6463 40.1702 12.7067V25.2858C40.1682 25.3462 40.1783 25.4064 40.2 25.4628C40.2217 25.5192 40.2546 25.5707 40.2966 25.6141C40.3385 25.6576 40.3888 25.6921 40.4444 25.7157C40.5 25.7393 40.5598 25.7514 40.6202 25.7514H42.3002C42.4203 25.7457 42.5337 25.6943 42.6173 25.6078C42.7009 25.5213 42.7484 25.4061 42.7502 25.2858V12.7142C42.7503 12.5925 42.7037 12.4755 42.6199 12.3874C42.5361 12.2993 42.4216 12.2469 42.3002 12.2411ZM87.7884 18.6095L92.7609 12.9395C92.8169 12.8809 92.8543 12.8071 92.8687 12.7274C92.883 12.6476 92.8736 12.5654 92.8417 12.4909C92.8097 12.4165 92.7565 12.3531 92.6888 12.3087C92.6211 12.2642 92.5419 12.2407 92.4609 12.2411H90.5109C90.4398 12.2428 90.37 12.2614 90.3074 12.2954C90.2449 12.3293 90.1912 12.3776 90.1509 12.4364L84.9758 18.3241C84.9039 18.4072 84.8637 18.5132 84.8623 18.6231C84.861 18.7331 84.8985 18.84 84.9683 18.9249L90.3159 25.6087C90.3585 25.6551 90.4109 25.6913 90.4693 25.7147C90.5277 25.7381 90.5906 25.7481 90.6534 25.7439H92.7759C92.8541 25.7432 92.9306 25.7211 92.997 25.68C93.0635 25.6389 93.1175 25.5803 93.1531 25.5106C93.1886 25.441 93.2044 25.3629 93.1988 25.2848C93.1931 25.2068 93.1662 25.1318 93.1209 25.068L87.7884 18.6095ZM83.3258 12.2411H81.6533C81.5929 12.2411 81.5331 12.2532 81.4775 12.2768C81.4219 12.3003 81.3716 12.3349 81.3297 12.3783C81.2877 12.4218 81.2548 12.4732 81.2331 12.5297C81.2114 12.5861 81.2013 12.6463 81.2033 12.7067V25.2858C81.2013 25.3462 81.2114 25.4064 81.2331 25.4628C81.2548 25.5192 81.2877 25.5707 81.3297 25.6141C81.3716 25.6576 81.4219 25.6921 81.4775 25.7157C81.5331 25.7393 81.5929 25.7514 81.6533 25.7514H83.3258C83.4459 25.7457 83.5593 25.6943 83.6429 25.6078C83.7265 25.5213 83.774 25.4061 83.7758 25.2858V12.7142C83.7759 12.5925 83.7293 12.4755 83.6455 12.3874C83.5617 12.2993 83.4472 12.2469 83.3258 12.2411ZM101.634 12.2636C101.61 12.1985 101.565 12.1429 101.507 12.105C101.449 12.0672 101.38 12.049 101.311 12.0533H101.116C101.047 12.0513 100.98 12.0704 100.922 12.1079C100.864 12.1455 100.82 12.1998 100.794 12.2636L94.8685 25.2407C94.756 25.4885 94.906 25.7439 95.1985 25.7439H96.8485C96.9703 25.7457 97.0896 25.7089 97.1893 25.6388C97.289 25.5687 97.364 25.4687 97.4035 25.3533L101.124 16.9273C101.128 16.9211 101.133 16.916 101.14 16.9125C101.146 16.9089 101.154 16.9071 101.161 16.9071C101.168 16.9071 101.176 16.9089 101.182 16.9125C101.189 16.916 101.194 16.9211 101.199 16.9273L103.059 21.0577C103.063 21.0661 103.064 21.0754 103.064 21.0847C103.063 21.094 103.06 21.103 103.054 21.1106C103.049 21.1183 103.042 21.1244 103.033 21.1283C103.025 21.1321 103.015 21.1337 103.006 21.1328H100.096C100.084 21.1346 100.073 21.1388 100.062 21.1451C100.052 21.1514 100.043 21.1597 100.036 21.1695C100.029 21.1793 100.024 21.1904 100.022 21.2022C100.019 21.2139 100.019 21.2261 100.021 21.2379L100.411 23.2055C100.416 23.2241 100.426 23.2407 100.441 23.2529C100.456 23.265 100.474 23.2721 100.494 23.2731H103.996C104.007 23.273 104.017 23.2757 104.026 23.281C104.036 23.2863 104.043 23.2939 104.049 23.3031L104.964 25.3533C105.099 25.6237 105.234 25.7439 105.519 25.7439H107.176C107.237 25.7466 107.297 25.7334 107.35 25.7056C107.404 25.6778 107.45 25.6363 107.482 25.5854C107.515 25.5344 107.534 25.4757 107.536 25.4152C107.539 25.3547 107.526 25.2945 107.499 25.2407L101.634 12.2636ZM136.622 25.2407L130.756 12.2636C130.732 12.1972 130.687 12.1407 130.627 12.1027C130.567 12.0647 130.497 12.0474 130.426 12.0533H130.239C130.17 12.0513 130.102 12.0704 130.045 12.1079C129.987 12.1455 129.942 12.1998 129.916 12.2636L123.991 25.2407C123.964 25.2945 123.951 25.3547 123.954 25.4152C123.956 25.4757 123.975 25.5344 124.008 25.5854C124.04 25.6363 124.086 25.6778 124.14 25.7056C124.193 25.7334 124.253 25.7466 124.314 25.7439H125.964C126.086 25.7457 126.205 25.7089 126.305 25.6388C126.404 25.5687 126.479 25.4687 126.519 25.3533L130.231 16.9273C130.236 16.9195 130.243 16.913 130.251 16.9086C130.259 16.9041 130.267 16.9018 130.276 16.9018C130.286 16.9018 130.294 16.9041 130.302 16.9086C130.31 16.913 130.317 16.9195 130.321 16.9273L132.182 21.0577C132.186 21.0661 132.187 21.0754 132.187 21.0847C132.186 21.094 132.183 21.103 132.177 21.1106C132.172 21.1183 132.165 21.1244 132.156 21.1283C132.148 21.1321 132.138 21.1337 132.129 21.1328H129.226C129.215 21.1346 129.203 21.1388 129.193 21.1451C129.183 21.1514 129.174 21.1597 129.167 21.1695C129.16 21.1793 129.155 21.1904 129.152 21.2022C129.15 21.2139 129.149 21.2261 129.151 21.2379L129.541 23.2055C129.542 23.2154 129.545 23.225 129.55 23.2338C129.555 23.2425 129.561 23.2503 129.569 23.2565C129.576 23.2628 129.585 23.2675 129.595 23.2704C129.604 23.2732 129.614 23.2741 129.624 23.2731H133.127C133.137 23.2742 133.147 23.2774 133.156 23.2826C133.165 23.2878 133.173 23.2948 133.179 23.3031L134.094 25.3533C134.229 25.6237 134.364 25.7439 134.649 25.7439H136.299C136.358 25.7459 136.417 25.7326 136.47 25.7051C136.523 25.6777 136.568 25.6371 136.6 25.5872C136.632 25.5373 136.652 25.4799 136.655 25.4205C136.659 25.3611 136.647 25.3018 136.622 25.2482V25.2407Z"
              fill="#26364A"
            />
            <path
              d="M31.8014 27.8616C30.3389 26.2245 26.9263 22.4545 25.0513 20.3968C25.0343 20.3768 25.0125 20.3616 24.9878 20.3527C24.9632 20.3439 24.9367 20.3416 24.9109 20.3461C24.8851 20.3507 24.8609 20.3619 24.8408 20.3787C24.8207 20.3955 24.8054 20.4173 24.7963 20.4419L23.5738 23.4458C23.5548 23.4905 23.549 23.5397 23.557 23.5876C23.5649 23.6355 23.5864 23.6801 23.6188 23.7162C25.7413 26.0442 28.8088 29.4237 29.3938 30.0996C29.8427 30.5968 30.0849 31.2468 30.0709 31.9169C30.057 32.5869 29.7879 33.2263 29.3188 33.7043C28.8572 34.1703 28.2353 34.4422 27.5801 34.4645C26.925 34.4869 26.2861 34.2579 25.7938 33.8245C24.7513 32.9308 17.2062 26.2095 17.2062 26.2095C17.2062 26.2095 29.7014 12.4889 31.7864 10.1233C33.8714 7.75769 33.8264 4.19049 31.6064 1.93753C29.3863 -0.315434 25.9513 -0.337964 23.6038 1.67468C21.2562 3.68733 15.0011 9.31223 15.0011 9.31223C15.0011 9.31223 9.75106 3.45453 8.38604 2.01263C7.02102 0.570732 5.02599 0.0900996 3.19597 0.826068C1.36594 1.56204 0.300926 3.37943 0.300926 5.31698V32.7731C0.293497 33.7184 0.572711 34.6438 1.10167 35.4269C1.63063 36.2099 2.38443 36.8139 3.26347 37.1589C5.0635 37.8648 7.05102 37.3691 8.37854 35.9573C9.12855 35.1612 11.1236 32.9533 12.7286 31.181C12.7608 31.1418 12.7819 31.0946 12.7898 31.0444C12.7977 30.9943 12.7921 30.9429 12.7736 30.8956L11.4236 28.0269C11.4132 28.0043 11.3973 27.9847 11.3775 27.9698C11.3577 27.9549 11.3344 27.9451 11.3099 27.9414C11.2854 27.9377 11.2603 27.9401 11.237 27.9485C11.2136 27.9568 11.1927 27.9709 11.1761 27.9893C9.37606 29.9794 6.39851 33.2688 5.97101 33.7269C5.3485 34.3802 4.65849 34.1624 4.45599 34.0798C4.19282 33.9809 3.96658 33.803 3.80817 33.5704C3.64977 33.3379 3.56693 33.0621 3.57097 32.7806V5.19682C3.56347 4.31065 4.17848 3.98022 4.50099 3.87508C4.82349 3.76994 5.446 3.70235 5.87351 4.16046C6.17351 4.48338 19.3137 18.985 19.3137 18.985L14.7386 24.0166C14.7386 24.0166 11.3111 21.0126 10.8836 20.5921C10.4561 20.1715 10.1561 19.6008 10.1561 18.9699C10.1579 18.6638 10.2236 18.3613 10.3489 18.082C10.4742 17.8027 10.6563 17.5526 10.8836 17.3478C10.9736 17.2727 11.5286 16.762 12.3836 15.996C12.421 15.9615 12.4478 15.9171 12.4611 15.8679C12.4744 15.8188 12.4735 15.7669 12.4586 15.7182L11.4236 12.7292C11.4165 12.7044 11.4031 12.6818 11.3848 12.6637C11.3664 12.6455 11.3437 12.6324 11.3188 12.6257C11.294 12.6189 11.2678 12.6186 11.2428 12.6249C11.2177 12.6312 11.1948 12.6439 11.1761 12.6616C10.3511 13.3901 9.33106 14.2913 8.72355 14.8545C7.56853 15.9284 6.88602 17.3929 6.88602 18.9624C6.89062 19.7374 7.05638 20.5029 7.37275 21.2101C7.68912 21.9174 8.14916 22.5509 8.72355 23.0703C9.21856 23.5209 22.5012 35.349 23.6263 36.2877C24.7513 37.2265 26.1163 37.7747 27.4963 37.7747C28.2662 37.7753 29.0285 37.6229 29.7392 37.3264C30.4498 37.0299 31.0947 36.5952 31.6364 36.0474C33.8564 33.7944 33.9014 30.2047 31.8014 27.8616ZM17.2062 11.7154C20.9937 8.35097 25.1938 4.63358 25.7563 4.15295C26.8063 3.27429 28.3288 3.30433 29.2813 4.2731C30.2339 5.24188 30.2564 6.82646 29.3563 7.87785C28.4563 8.92923 21.5262 16.5142 21.5262 16.5142L20.1462 14.9897L17.2062 11.7154Z"
              fill="#F14C4C"
            />
          </g>
          <defs>
            <clipPath id="clip0_288_191">
              <rect width="136.952" height="38" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://github.com/kaskada-ai/kaskada">Get Started</a>
          </span>
        </div>
        <a class="navbar-link is-active" href="{{{or site.url siteRootPath}}}">Docs</a>
        <a class="navbar-link" href="https://kaskada-ai.github.io/blog">Blog</a>
        <a class="navbar-link" href="https://kaskada-ai.github.io/community">Community</a>
        <div class="navbar-item icons">
          <a class="navbar-link" href="https://github.com/kaskada-ai/kaskada" title="Github">
            <svg
              width="2em"
              height="2em"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.9633 4C9.3578 4 4 9.28691 4 15.805C4 21.0195 7.44954 25.4373 12.1468 27.0306C12.7339 27.1031 12.9541 26.7409 12.9541 26.4512C12.9541 26.1616 12.9541 25.4373 12.9541 24.4234C9.65138 25.1476 8.91743 22.8301 8.91743 22.8301C8.40367 21.454 7.59633 21.0919 7.59633 21.0919C6.49541 20.3677 7.66972 20.3677 7.66972 20.3677C8.84404 20.4401 9.50459 21.5989 9.50459 21.5989C10.6055 23.4095 12.2936 22.9025 12.9541 22.6128C13.0275 21.8162 13.3945 21.3092 13.6881 21.0195C11.0459 20.7298 8.25688 19.7159 8.25688 15.1532C8.25688 13.8496 8.69725 12.8357 9.50459 11.9666C9.43119 11.7493 8.99083 10.5181 9.65138 8.92479C9.65138 8.92479 10.6789 8.6351 12.9541 10.156C13.9083 9.86629 14.9358 9.79387 15.9633 9.79387C16.9908 9.79387 18.0183 9.93872 18.9725 10.156C21.2477 8.6351 22.2752 8.92479 22.2752 8.92479C22.9358 10.5181 22.4954 11.7493 22.422 12.039C23.156 12.8357 23.6697 13.922 23.6697 15.2256C23.6697 19.7883 20.8807 20.7298 18.2385 21.0195C18.6789 21.3816 19.0459 22.1058 19.0459 23.1922C19.0459 24.7855 19.0459 26.0167 19.0459 26.4512C19.0459 26.7409 19.2661 27.1031 19.8532 27.0306C24.6239 25.4373 28 21.0195 28 15.805C27.9266 9.28691 22.5688 4 15.9633 4Z"
                fill="currentColor"
              />
            </svg>
          </a>
          <a class="navbar-link" href="https://twitter.com/kaskadainc" title="Twitter">
            <svg
              width="2em"
              height="2em"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.2249 25.4978C20.904 25.4978 25.6531 18.3791 25.6531 12.2162C25.6531 12.0159 25.6531 11.8156 25.6439 11.6154C26.5642 10.9599 27.3649 10.1315 28 9.19389C27.1533 9.56712 26.2421 9.81291 25.2849 9.93125C26.2605 9.35775 27.006 8.43832 27.3649 7.34592C26.4538 7.88302 25.4414 8.26536 24.3645 8.47473C23.4994 7.5644 22.2753 7 20.9224 7C18.3177 7 16.2009 9.09375 16.2009 11.67C16.2009 12.0341 16.2469 12.3891 16.3205 12.7351C12.3998 12.5439 8.92077 10.6777 6.59224 7.85571C6.18727 8.54756 5.95718 9.34864 5.95718 10.2044C5.95718 11.8247 6.79472 13.2539 8.05562 14.0914C7.28251 14.0641 6.55542 13.8548 5.92037 13.5088C5.92037 13.527 5.92037 13.5453 5.92037 13.5726C5.92037 15.8302 7.54942 17.7237 9.70308 18.1515C9.30732 18.2607 8.89316 18.3154 8.46058 18.3154C8.15686 18.3154 7.86234 18.2881 7.57703 18.2334C8.17527 20.0905 9.92397 21.4378 11.9856 21.4742C10.3657 22.7305 8.33173 23.4769 6.12285 23.4769C5.7455 23.4769 5.36815 23.4587 5 23.4132C7.08003 24.7241 9.56503 25.4978 12.2249 25.4978Z"
                fill="currentColor"
              />
            </svg>
          </a>
          <a class="navbar-link" href="https://www.linkedin.com/company/kaskadainc" title="LinkedIn">
            <svg
              width="2em"
              height="2em"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.90155 25.0996H5.34197V10.5554H9.90155V25.0996ZM7.62176 8.58231C6.1399 8.58231 5 7.39847 5 5.98915C5 4.52345 6.19689 3.396 7.62176 3.396C9.10363 3.396 10.2435 4.57983 10.2435 5.98915C10.3005 7.39847 9.10363 8.58231 7.62176 8.58231ZM27 25.0996H22.4404V18.053C22.4404 16.3618 22.3834 14.2196 20.0466 14.2196C17.6528 14.2196 17.3109 16.0799 17.3109 17.9402V25.0996H12.7513V10.5554H17.1399V12.5284H17.1969C17.8238 11.401 19.3057 10.1607 21.5285 10.1607C26.1451 10.1607 27 13.1485 27 17.0946V25.0996Z"
                fill="currentColor"
              />
            </svg>
          </a>
        </div>
        
{{#if env.SITE_SEARCH_PROVIDER}}
       <div class="navbar-item navbar-item-lower-case search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
       </div>
{{/if}}

      </div>
    </div>
  </nav>
</header>
